# Configuración de Base de Datos y Supabase
DATABASE_URL=tu_url_de_conexion_aqui
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_KEY=tu_anon_key_aqui
SECRET_KEY=genera_una_clave_segura_aqui

# Notificaciones de Telegram
TELEGRAM_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
CHAT_ID=tu_chat_id_numerico_aqui


CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret