# Entornos virtuales y dependencias
venv_fastapi/
**/venv_fastapi/
node_modules/
**/node_modules/

# Python Cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Next.js Build
.next/
**/.next/
out/
**/out/
build/
**/build/

# Archivos Sensibles y Variables de Entorno
.env
.env.*
*.env
backend_fastapi/.env
**/.env

# Archivos pesados / Herramientas
repomix-output.xml
*.xml
.DS_Store
Thumbs.db