@import "tailwindcss";

/* Solo estilos base, sin forzar nada */
body {
  background-color: #f9fafb;
}
/* Estilos que ya usas en el dashboard */
.fc-day-today {
  background-color: transparent !important;
}

.fc-daygrid-day-number {
  font-weight: 700 !important;
  font-size: 0.85rem !important;
  padding-right: 8px !important;
  text-align: right !important;
}

